@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

h1{
    color: #3A36FF;
}
/*------------------------------careers.html----------------------------------------------*/
.background_container{
    position: relative;
    text-align: center;
}

.background_img{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 100%; 
}

.background_text{
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
}

.below_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    
}
.why_petro{
    font-style: italic;
    font-size: 50px;
    color: #3A36FF;
    flex-basis: 40%;
}
.rectangle{
    text-align: center;
    height: 200px;
    width: 600px;
    border: 1px solid #3A36FF;
    border-radius: 10%;
    background-color: white;
}
.textbox{
    margin-top: 65px;
}

/*<---------------------------Three Careers----------------------------------------------->*/
.career1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    padding-top: 300px;
    padding-bottom: 100px;
}

.career2{
    border: 1px solid blue;
    background-color:rgb(242, 242, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    padding-top: 100px;
    padding-bottom: 100px;
}

.career3{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo{
    width: 200px;
    height: 200px;
}

.desc{
    padding-left: 100px;
    padding-right: 100px;
    height: 120px;
    width: 1000px;
    vertical-align: middle;
    text-align: center;
}

.left{ float: left;}

.right{ float: right;}

/*<---------------------------------Experts----------------------------------------------->*/
.name{
    display: inline;
}
.expert1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    padding-top: 100px;
    padding-bottom: 100px;
}

.expert2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    padding-top: 100px;
    padding-bottom: 100px;
    border: 1px solid blue;
    background-color:rgb(242, 242, 255);

}

.person{
    height: 120px;
    width: 900px;

}

.person_img{
    border-radius: 50%;
    width: 300px;
    height: 200px;
    padding-left: 50px;
    padding-right: 50px;

}

/*<----------------------------------Contact us------------------------------------------->*/
.contact-container{
    width: 80%;
    margin: 50px auto;
}

.contact-container p{
    padding-top: 20px;
}
.contact-box{
    display: flex;
    margin-top: 50px;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    background-color: rgb(242, 242, 255);
    flex-basis: 40%;
    padding: 40px;

}


.input-row{
    justify-content: space-between;
}

.input-row .input_group{
    flex-basis: 45%;
    margin-top: 20px;
    margin-bottom: 20px;
}

input{
    border: 2px solid blue;
    width: 80%;
    padding: 10px;
    background-color:rgb(242, 242, 255);
    border-radius: 30px;
}

input:focus{
    outline: none;
    border: 2px solid rgb(155, 155, 252);
}

textarea{
    width: 80%;
    border: 2px solid blue;
    outline: none;
    padding: 10px;
    background-color:rgb(242, 242, 255);
    border-radius: 30px;
}

textarea:focus{
    outline: none;
    border: 2px solid rgb(155, 155, 252);
}

button{
    display: block;
    background-color: blue;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
button:hover{
    background-color: #FFD66B;
    transition: all 0.3s ease;

}

.contact-right h3{
    margin-bottom: 20px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}


html,body {
    margin: 0; 
}
/*----------------------------Common Atributes---------------------------------------------*/
.navbar{
    background: #F5F7FE;
    border: 1px solid #3A36FF;
    height: 95px;
    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

#navbar_logo{
    
    align-items:center;
    cursor: pointer;
    text-decoration: none;
    height: 100%;
  
    
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item{
    height: 80px;
}

.navbar_links{
    color: #3A36FF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1.5rem;
    height: 100%;
    white-space: nowrap;
    
}

.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.contact_btn{
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: #3A36FF;
    color: #F5F7FE;
}

.contact_btn:hover{
    background: #FFD66B;
    transition: all 0.3s ease;
    
}

.navbar_links:hover{
    color: #1d1b83ff;
    transition: all 0.3s ease;
    font-weight: bold;
}

@media screen and (max-width:900px){
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        background-color: #F5F7FE;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top:-1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        
    }

    .navbar_menu.active{
        background: #F5F7FE;
        top:100%;
        opacity: 1;
        height: 60vh;
        transition: all 0.5s ease;
        z-index: 99;
        font-size: 1rem;
        
    }

    #navbar_logo{
        padding-left:25px;
    }

    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: black;
        
    }

    .navbar_item{
        width: 100%;
    }

    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .navbar_btn{
        padding-bottom: 2rem;
    }

    .contact_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 50px;
        margin: 0;
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
        background-color: #3A36FF;
        
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

}
/*---------------------Main Page----------------------*/
.body_container{
    position: absolute;
    top: 95px;
    bottom: 0;
    left: 0;
    right: 0;
    align-content: center;
}

.title_container{
    
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 20%;
    position: relative;
}

.topLine, .midLine{
    color: #3A36FF;
    font-size: 2.5rem;
    
}
.bottomLine{
    color: #3A36FF;
}

.o_letter{height: 1em;}

.learnMore_btn{
    margin: 5% auto;
    display: block;
    border-radius: 4px;
    padding: 5px 50px;
    background-color: #F5F7FE;
    border: 1px solid #3A36FF;
    color: #3A36FF;
    font-size: 1rem;
    cursor: pointer;
}

.learnMore_btn:hover{
    color: #F5F7FE;
    background-color: #3A36FF;
}

/*---------------------About Us----------------------*/

.section1, .section3{
    display: flex;
    width: 100%;
    height: 30%;
}

.section2{
    display: flex;
    width: 100%;
    height: 30%;
    background-color: #F5F7FE;
    border: 1px solid #3A36FF;
}

.s1_texts, .s2_texts, .s3_texts{
    display: block;
    padding: 50px 10px;
}
.s1_image_container, .s3_image_container{
    background-color: #FFD66B;
    height: 100px;
    width: 100px;
    align-items: center;
    margin: 25px 10px;
}
.s1_image, .s3_image{
    height: 150px;
    width: 20%;
    object-fit: cover;
}

/*---------------------Services---------------*/
.service_intro{
    height: 50%;
    text-align: center;
    
}
.intro_texts{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
    padding-left: 15%;
    padding-right: 15%;
    height:200px;
}
.intro_texts::-webkit-scrollbar{
    display: none;
}

.carousel-item{
    height: 20rem;
    background: #777;
    color: white;
    position: relative;
    
}

.carousel{
    position: absolute;
    bottom: 0;
    
}

.container{
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 25px;
}

.service_button{
    background-color: #3A36FF;
    width: 50%;
    align-self: center;
    margin-left: 25%;
}

.overlay-image{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
}

.service1_btn, .service2_btn, .service3_btn{
    align-self: center;
    width: 100%;
    height: 40px;
}